<link rel="stylesheet" href="../public/css/admin.css">
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #9D1535;">
    <a class="navbar-brand" href="/projects">SDMarketplace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <!--<li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>-->
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/createProposal">Submit Proposal</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/createProject">Create Project</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/projects">Archives</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>

        <!--<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>-->

      </ul>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="material-icons">home</span>
                Admin Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <span class="material-icons">person<span class="sr-only">(current)</span></span>
                Users
                <!--Reset Passwords, Change Majors/Roles, Delete Users, Clear out old seniors?-->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="material-icons">assignment</span>
                Projects & Proposals
                <!--Delete, Edit, Clear out all old projects?-->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="material-icons">assessment</span>
                Stats
                <!--User Count, Project count, Proposals approved/unapproved-->
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="material-icons">add</span>
                Add Majors
                <!--Add Majors-->
              </a>
            </li>

          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Users</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span></span>
                Reset Password
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span></span>
                Change Role
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span></span>
                Change Major
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span></span>
                Delete
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span></span>
                Clear Seniors
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Project Dashboard</h1>
          {{!-- <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button class="btn btn-sm btn-outline-secondary">button1</button>
              <button class="btn btn-sm btn-outline-secondary">button2</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              date
            </button>
          </div> --}}
        </div>

        <!-- Nav tabs -->
        <ul class="nav nav-pills">
          <li class="active"><a class="btn btn-primary" href="#projects" role="tab" data-toggle="tab">Projects</a></li>
          <li><a class="btn btn-primary" href="#proposals" role="tab" data-toggle="tab">Proposals</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="projects">
            <h4>Projects</h4>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    Title
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Author
                  </th>
                  <th>
                    Date
                  </th>
                  <th>
                    Sponsors
                  </th>
                  <th>
                    Majors
                  </th>
                  <th>
                    Size
                  </th>
                  <th>
                    Members
                  </th>
                </tr>
                {{#each projects}}
                <tr>
                  <td>
                    {{inc @index}}
                  </td>
                  <td>
                    {{this.title}}
                  </td>
                  <td>
                    {{this.description}}
                  </td>
                  <td>
                    {{this.author}}
                  </td>
                  <td>
                    {{this.date}}
                  </td>
                  <td>
                    {{this.sponsors}}
                  </td>
                  <td>
                    {{this.majors}}
                  </td>
                  <td>
                    {{this.size}}
                  </td>
                  <td>
                    {{this.members}}
                  </td>
                </tr>
                {{/each}}
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="proposals">
            <h4>Proposals</h4>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    #
                  </th>
                  <th>
                    Title
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Author
                  </th>
                  <th>
                    Date
                  </th>
                  <th>
                    Sponsors
                  </th>
                  <th>
                    Majors
                  </th>
                  <th>

                  </th>
                </tr>
                {{#each proposals}}
                <tr>
                  <td>
                    {{inc @index}}
                  </td>
                  <td>
                    {{this.title}}
                  </td>
                  <td>
                    {{this.description}}
                  </td>
                  <td>
                    {{this.author}}
                  </td>
                  <td>
                    {{this.date}}
                  </td>
                  <td>
                    {{this.sponsors}}
                  </td>
                  <td>
                    {{this.majors}}
                  </td>
                  <td class="proposalHolder">
                    <button id="{{this._id}}" type="button" class="btn btn-outline-success btn-fw acceptProposal">Approve
                      Proposal</button>
                    <button id="{{this._id}}" type="button" class="btn btn-outline-success btn-fw removeProposal">Deny
                      Proposal</button>
                  </td>
                </tr>
                {{/each}}
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>

        <div class="adminCards">
        </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
  <script type="text/javascript">

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    });

    $.fn.selectpicker.Constructor.BootstrapVersion = '4';
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="../../public/js/createProposal.js"></script>

</body>

</html>